<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.zirk.yousei">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="eu.zirk.yousei.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quizz.QuizzDrawActivity"
            android:parentActivityName="eu.zirk.yousei.MainActivity" />
        <activity
            android:name=".quizz.QuizzChoicesActivity"
            android:parentActivityName="eu.zirk.yousei.MainActivity" />
        <activity
            android:name=".quizz.QuizzNormalActivity"
            android:parentActivityName="eu.zirk.yousei.MainActivity" />
        <activity
            android:name=".quizz.QuizzCompleteActivity"
            android:parentActivityName="eu.zirk.yousei.MainActivity" />
    </application>

</manifest>